/* ServiceCustom.css */
/* .service-custom {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .service-item {
    margin-bottom: 100px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 5px;
  }
  
  .service-item h3 {
    margin-top: 0;
    font-size: 24px;
  }
  
  .image-row {
    display: flex;
    margin: 40px auto;
    justify-content: space-between;
  }
  
  .image-row img {
    border-radius: 10px;
    width: 30%;
    height: auto;
  }
  
  .service-item p {
    margin-top: 20px;
    color: #666;
    font-size: 14px;
  } */

.servicescustom {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

}

.servicesrow {
  margin: 80px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.service {
  flex-basis: 31%;
  position: relative;
}

.caption {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 15, 152, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  padding-top: 70%;
  transition: 0.4s;
}

.desc{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.decription h5{
  flex-basis: 31%;
  position: relative;
  flex-direction: row;
}

.service:hover .caption {
  opacity: 1;
  padding-top: 0;
}

/* media query */

@media (max-width:650px) {
  .servicesrow {
    flex-direction: column;
  }

  .service {
    flex-basis: 100%;
    margin: 20px;
  }
}